# Node.js
node_modules/
# Ignore all Node Module Folders Recursively
**node_modules

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.pid.lock

# Dependency directories
lib-cov/
lib-cache/
*.pug-cache
*/build/

# Optional npm cache directory
.npm

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db